{% extends 'learning_logs/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block header %}
    <h2>Conecta-se</h2>
{% endblock header %}

{% block content %}

    <form id="login" method="post" action="{% url 'users:login' %}" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="checkbox" id="remember"/>
        <label for="remember">Remember me</label>


        {% buttons %}
            <button name="submit" class="btn btn-primary">log in</button>
        {% endbuttons %}
        <input type="hidden" name="next" value="{% url 'learning_logs:index' %}"/>

    </form>


{% endblock content %}