@charset 'UTF8';

body {
    background: url('images/siteBackground.jpg') no-repeat;

}

figure {
    left: 500px;
    position: relative;
    border: 4px solid white;
    box-shadow: 1px 1px 15px;
    width: 100px;
    width: 40%;

}

footer {
    color: white;
    background-color: black;

}




