@charset 'UTF8';

body {
    background: url('images/siteBackground.jpg') no-repeat;

}

figure {
    left: 250px;
    position: relative;
    width: 80%;
    height: 80%;
    /*border: 8px solid whit;*/
    /*box-shadow: 1px 1px 8px;*/
}


figure figcaption h3{
    position: absolute;
    background-color: black;
    top: 0px


}

