@charset 'UTF8';

body {
    background: url('images/siteBackground.jpg') no-repeat;

}

figure {
    left: 100px;
    position: relative;
    width: 80%;
    height: 80%;
    border: 4px solid white;
    box-shadow: 1px 1px 15px;
}

figure img{
    width: 100%
}


figure figcaption h3{
    color: white;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    top: 0px


}

